<div class="grid-list-container">
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let tile of tiles">
    <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false" [matRippleColor]="green" (click)="this.addSequence(tile.position);">
      {{tile.name}}
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

<p>
  Shot sequence:&nbsp;&nbsp;{{sequence}}
</p>

<p>
<label id="sequence-mode-radio-group-label">Sequence mode:&nbsp;&nbsp;</label>
<mat-radio-group aria-labelledby="sequence-mode-radio-group-label" [(ngModel)]="sequenceMode">
  <mat-radio-button value="0">Once</mat-radio-button>
  <mat-radio-button value="1">Loop</mat-radio-button>
  <mat-radio-button value="2">Random</mat-radio-button>
</mat-radio-group>
</p>

<p>
<label id="sequence-interval-slider-label">Sequence Interval:&nbsp;&nbsp;</label>
<mat-slider class="slider-margin" [max]=5 [min]=0 [step]=0.5 [thumbLabel]="true" [(ngModel)]="sequenceInterval"></mat-slider>
</p>

<div class="grid-list-container">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="this.stopSequence()">Stop</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="this.resetAll()">Reset</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="this.startSequence()">Go!</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
