.grid-list-container {
  width: 330px;
  height: 330px;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;
  background: lightgreen;

  width: 100px;
  height: 100px;
  line-height: 100px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.slider-margin {
  margin: 10px;
  width: 250px;
}
