.host-form {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
}

.host-full-width {
  width: 100%;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.adv-conf-grid-list-container {
  width: 210px;
}
