<form class="host-form" [formGroup]="hostForm" (ngSubmit)="this.setHost(); this.getPlayModeDump();">
  <mat-form-field class="host-full-width">
    <input matInput #host placeholder="Host Name or IP" formControlName="host" />
    <button mat-raised-button matSuffix type="submit" [disabled]="!hostForm.valid">Set</button>
  </mat-form-field>
</form>

<form [formGroup]="setupModeForm">
  <mat-form-field>
    <mat-label>Setup Mode</mat-label>
    <mat-select formControlName="playMode" [disabled]="!this.isHostSet()" (selectionChange)="this.setPlayMode($event)">
      <mat-option *ngFor="let setupModeSelection of setupModeSelections; let i = index" [value]="i">{{setupModeSelection}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let shotProfile">{{shotProfile.type}}</td>
    </ng-container>

    <ng-container matColumnDef="leftMotorSpeed">
      <th mat-header-cell *matHeaderCellDef>Left Motor</th>
      <td mat-cell *matCellDef="let shotProfile">{{shotProfile.leftMotorSpeed}}</td>
    </ng-container>

    <ng-container matColumnDef="rightMotorSpeed">
      <th mat-header-cell *matHeaderCellDef>Right Motor</th>
      <td mat-cell *matCellDef="let shotProfile">{{shotProfile.rightMotorSpeed}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editMotorSpeed(row)"></tr>
  </table>
</div>
